<%= form_with(model: book, local: true) do |form| %>
  <% if book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
        <% book.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="file">
  <label class="file-label">
    <%= form.file_field :featured_image, class: 'file-input' %>
    <span class="file-cta">
      <span class="file-icon">
        <i class="fas fa-upload"></i>
      </span>
      <span class="file-label">
        Escolha a imagem de destaque para o livro..
      </span>
    </span>
  </label>
</div>

</br>
 
  <div class="field">
    <%= form.label 'Título', class: 'label' %>
    <div class="control">
      <%= form.text_field :title, class: 'input' %>
    </div>
  </div>
 
  <div class="field">
    <%= form.label 'Autor', class: 'label' %>
    <div class="control">
      <%= form.text_field :description, class: 'input' %>
    </div>
  </div>
 
 
  <div class="field">
    <%= form.label 'Conteúdo', class: 'label' %>
    <%= form.rich_text_area :content %>
  </div>
 
  <div class="field is-grouped">
    <div class="control">
      <%= form.submit 'Publicar', class: 'button is-success' %>
    </div>
    <div class="control">
      <%= link_to 'Voltar', books_path, class: 'button is-link' %>
    </div>
  </div>
<% end %>















