</br></br> <h1 class="title is-1">Bem vindo</h1> 

<%= search_form_for @q do |f| %> 
  <%= f.label :pesquisa %>
  <%= f.search_field :title_or_description_cont %>
<% end %>

</br></br>
<h1 class="title">Lista de Livros</h1>
</br>
 

<% @book.each do |book| %>
      <div class="column is-four-fifths">
     <div class="card">
        <div class="card-image">
          <figure class="image is-4by3">
            <%= image_tag book.featured_image %>
          </figure>
        </div>
        <div class="card-content">
          <div class="media">
            <div class="media-content">
              <a href="<%= book_path(id: book.id) %>"><p class="title is-3"><%= book.title %></p></a></br>
              <a href="<%= book_path(id: book.id) %>"><p class="title is-4"><%= book.description %></p></a>
            </div>
          </div>
          <p>Autor: <%= book.description %> - <%= book.created_at.strftime("%d/%m/%Y") %></p>
        </div>

      <footer class="card-footer">
      <%= link_to 'Show', book , class:'card-footer-item'%>
      <%= link_to 'Edit', edit_book_path(book),class:'card-footer-item'%>
      <%= link_to 'Delete', book ,method: :delete, data: { confirm: 'Are you sure?' },class:'card-footer-item'%>
      </footer>
    </div>
  </div>
    <% end %>

<%= link_to 'Novo livro', new_book_path ,class:'button is-link'%>
