</br></br>
<figure class="image is-4by3">
  <%= image_tag @book.featured_image %>
</figure></br>
<div class="columns">
  <div class="column">
    <p class="title"><%= @book.title %></p>
  </div>
</div></br></br>
<div class="columns">
  <div class="column is-three-quarters"><%= @book.content %>
  

<%= link_to 'Editar', edit_book_path(@book),class:'button is-info' %> |
<%= link_to 'Voltar', books_path ,class:'button is-danger'%>

</div>


